* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    flex-direction: column;
}
.header-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: rgb(145, 236, 18,.25);
    font-family: 'Pridi','Courier',sans-serif;
    font-weight: 500;
    font-size: 2rem;
    border-bottom: 3px solid rgb(196, 196, 196);
}
.main-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    background-color: rgb(105, 216, 224,.25);
}
.add-book-btn {
    padding: 10px;
    font-size: 1.3rem;
    font-weight: 600;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 10px;
}
.add-book-btn:hover {
    cursor: pointer;
}
.add-book-form {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 220px;
    background-color: rgb(216, 213, 213);
    transition: 200ms ease-in-out;
    border-radius: 10px;
    padding: 10px 10px 20px 10px;
    z-index: 10;
    top: 30%;
    transform: scale(0);
}
.add-book-form.active {
    transform: scale(1);
}
.book-form-header {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    font-size: 1.3rem;
    font-weight: 500;
    font-family: 'Sniglet', 'Pridi', sans-serif;
}
.book-form-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;

}
.book-form-body label {
    font-family: 'Sniglet','Pridi', sans-serif;
    font-size: 1.1rem;
    padding-right: 10px;
}
.book-form-body input {
    padding: 7px;
    width: 170px;
    font-size: 1rem;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 0px;
}
.add-book-check {
   display: flex;
   justify-content: center;
}
.form-button {
    display: flex;
    justify-content: center;
}
.form-button button {
    font-size: 1.1rem;
    font-weight: 600;
    flex: 1;
    padding: 10px 0 10px 0;
    border-radius: 10px;
    border: 0px;
    background-color: rgb(122, 216, 122);
}
#hasRead {
    display: flex;
    height: 1.2rem;
    width: 1.2rem;
    align-items: center;
}
.overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0, .50);
    pointer-events: none;
}
.overlay.active {
    opacity: 1;
    pointer-events: all;
}
.book-library-container {
    display: grid;
    width: 70%;
    justify-content: center;
    padding: 20px;
    grid-template-columns: repeat(auto-fill, minmax(275px,1fr));
    gap: 30px;
}
.book-library-card {
    display: flex;
    flex-direction: column;
    height: 250px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(223, 223, 223);
    border-radius: 5px;
    font-family: 'Sniglet','Pridi', sans-serif;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 10px 5% 10px 5%;
}
.book-library-para {
    margin-bottom: 15px;
}
.not-read-button, .read-button, .remove-button {
    display: flex;
    justify-content: center;
    font-family: 'Sniglet','Pridi', sans-serif;
    width: 100%;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 10px 0 10px 0;
    border-radius: 10px;
    border: 0px;
}
.read-button {
    background-color: rgb(106, 241, 135);
}
.not-read-button {
    background-color: rgb(216, 125, 122);
}
.remove-button {
    background-color: rgb(206, 206, 206);
}
#pageError {
    color: red;
    font-size: .5rem;
}